@{
    ViewBag.Title = "Home Page";
    ViewBag.Tab = "home";
}

<div class="jumbotron">
    <h1>Portaria FCEU</h1>
    <p class="lead">Sistema de Portaria da Fundação Casa do Estudante do Paraná. Apresentado como projeto avalidativo de Engenharia de Software na Pontifícia Universidade Católica do Paraná (PUCPR) ao curso de Engenharia de Computação.</p>
    <h5>
        <p>
            Guilherme Brunow<br />
            Luís Felipe Hartmann<br />
            Luís Felipe Nogoseke
        </p>
    </h5>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>